<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--Console appender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--Pattern of log message for console appender-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Rolling appenders (time and size)-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
        </filter>
        <file>logs/kypo2-training.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/kypo2-training.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each file should be at most 5MB, keep 20 days worth of history, but at most 100MB -->
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--configurated Rsyslog Log Server from website-->
    <!--https://computingforgeeks.com/how-to-configure-rsyslog-centralized-log-server-on-ubuntu-18-04-lts/-->
    <!--SysLog appender-->
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <port>514</port>
        <facility>LOCAL1</facility>
        <suffixPattern>%thread: %-5level %logger{5} - %msg%n</suffixPattern>
        <!-- include %exception in message instead of allowing default multiline stack trace -->
        <throwableExcluded>true</throwableExcluded>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="FILE" />
    </root>

</configuration>

<!--pozri do security commons ci tam neje stary logger-->